.genereal {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px; 
}

.imgstyle {
    height: 100px;
    width: 100px;
}

.button {
    width: auto; 
    padding: 8px 16px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
    cursor: pointer; 
}

.spanstyle{
    color: blue;
}