.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Darker background for better focus */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: rgb(152, 151, 151);
    padding: 30px;
    border-radius: 10px;
    max-width: 80%; 
    max-height: 80%; 
    width: 600px; 
    height: auto;
    overflow-y: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  .modal-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #555;
  }
  
  .modal-description {
    font-size: 18px; 
    color: #333;
    margin-top: 20px;
    line-height: 1.6;
    text-align: center; 
  }
  .modal-image{
    width: 50px;
    height: 50px;
  }